<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Catalogo Palailas Deco
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap' )
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' crossorigin='anonymous')
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' type='text/css' href='fullpage.css')
        link(rel='stylesheet' href='css/app.css')
        link(rel='stylesheet' href='css/style.css')
        title titulo | #{pagina}

    body
        include includes/header/header.pug
        block contenido
        include includes/footer/footer.pug
        
        script(type='text/javascript' src='vendors/scrolloverflow.min.js')
        script(type='text/javascript' src='js/fullpage.js')
        script(type='text/javascript' src='js/inicializacion.js')
