// Footer
footer.page-footer.font-small.blue
  // Copyright
  p.footer-copyright.text-center.py-3 Todos los derechos reservados - Copyright
      span.pl-1= fechaActual
      a(href='PalailasDeco.com').pl-1 Palailasdeco.com
  // Copyright
// Footer
