// Footer
footer.page-footer.font-small.blue
  // Copyright
  div.footer-copyright.text-center.py-3
    span= fechaActual Copyright -
    a(href='PalailasDeco.com')  PalailasDeco.com
  // Copyright
// Footer
