nav.navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-between
  a.navbar-brand(href='/') 
    img.d-inline-block.align-top(src='img/LogoPalailas.png' width='80' height='80' alt='')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
    
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/nosotras') Nosotras 
      li.nav-item
        a.nav-link(href='/catalogo') Catalogo
      li.nav-item
        a.nav-link(href='/comprar') Comprar

